<p>
  <mat-toolbar color="primary">
    <span>BrokkoliPommes</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </mat-toolbar>
</p>

<mat-drawer-container class="container">
  <mat-drawer mode="side" opened>
    Kategorien
    <mat-selection-list [(ngModel)]="selectedCategory" (ngModelChange)="onCategoryChange($event)" [multiple]="false">
      <mat-list-option *ngFor="let category of categories" [value]="category">
        {{category}}
      </mat-list-option>
    </mat-selection-list>

  </mat-drawer>
  <mat-drawer-content>
    Produkte
    {{selectedCategory}}
    <mat-grid-list cols="6">
      <mat-grid-tile *ngFor="let num of [1, 2, 3, 4, 5, 6, 7]">
        <product-card ></product-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>
