<mat-toolbar color="primary" class="toolbar" *ngIf="router.url !== '/login'">
  <span routerLink="/dashboard" style="cursor: pointer">BrokkoliPommes</span>
  <span class="img"><img mat-card-image src="../../../assets/logo_klein.jpg"></span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="openShoppingCart($event)" *ngIf="router.url === '/dashboard'" matTooltip="Warenkorb">
  <span class="padding">
  Hallo {{currentuser?.name}}
  </span>
  <button mat-icon-button (click)="openShoppingCart($event)" *ngIf="router.url === '/dashboard'">
    <mat-icon [matBadge]="getFormattedItemCount()" matBadgeColor="accent"
              [matBadgeHidden]="cartService.getItemCount() < 1">shopping_cart</mat-icon>
  </button>
  <button mat-icon-button (click)="router.navigate(['dashboard'])" *ngIf="router.url === '/profile'" matTooltip="Zurück">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Profil">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/profile">
      <mat-icon>list</mat-icon>
      <span>Bestellhistorie</span>
    </button>
    <button mat-menu-item (click)="editUser()">
        <mat-icon>account_circle</mat-icon>
        <span>Benutzerdaten</span>
      </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
</mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
