<div class="center-content">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>BrokkoliPommes</mat-card-title>
      <mat-card-subtitle>Anmeldung/Registrierung</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <mat-tab-group>

        <mat-tab label="Anmelden">
          <form (ngSubmit)="login()" [formGroup]="loginForm">

            <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input [email]="true" formControlName="email" matInput placeholder="max@mustermann.de" type="email" required="true">
              <mat-error *ngIf="loginForm.hasError('required','email')">Bitte geben Sie Ihre Email-Adresse ein</mat-error>
              <mat-error *ngIf="loginForm.controls.email && !loginForm.hasError('required','email')">Keine gültige Email-Adresse</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Passwort</mat-label>
              <input formControlName="password" matInput placeholder="Passwort" type="password" required="true" (keydown.enter)="login()">
              <mat-error *ngIf="loginForm.controls.password">Bitte geben Sie Ihr Passwort ein</mat-error>

              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>

            <button color="primary" mat-button type="submit">Anmelden</button>

          </form>
        </mat-tab>


        <mat-tab label="Registrieren">
          <form (ngSubmit)="register()" [formGroup]="registrationForm">
            <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="max@mustermann.de" [email]="true" type="email" formControlName="email" required="true">
              <mat-error *ngIf="registrationForm.controls.email">Bitte geben Sie eine gültige Email-Adresse ein</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Max Mustermann" type="text" formControlName="name" required="true">
              <mat-error *ngIf="registrationForm.controls.name">Bitte geben Sie Ihren Namen ein</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Registrieren als</mat-label>
              <mat-select value="customer" formControlName="isSupplier">
                <mat-option [value]="false">Kunde</mat-option>
                <mat-option [value]="true">Lieferant</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width" *ngIf="registrationForm.controls.isSupplier.value" required="true">
              <mat-label>Firma</mat-label>
              <input matInput placeholder="Firma" type="text" formControlName="companyName">
              <mat-error *ngIf="registrationForm.controls.companyName">Bitte geben Sie Ihren Firmennamen ein</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Passwort</mat-label>
              <input matInput placeholder="Passwort" type="password" formControlName="password" minlength="5" required="true">
              <mat-error *ngIf="registrationForm.controls.password">Passwort muss mindestens 5 Zeichen lang sein</mat-error>
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Passwort Wiederholen</mat-label>
              <input matInput placeholder="Passwort wiederholen" type="password" formControlName="repeatPassword" required="true">
              <mat-error *ngIf="!canLogin">Passwörter stimmen nicht überein</mat-error>
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <button type="submit" [disabled]="!canLogin || (registrationForm.controls.isSupplier.value! == true && registrationForm.controls.companyName.value! == '')" 
                color="primary" mat-button>Registrieren</button>
          </form>

        </mat-tab>
      </mat-tab-group>

    </mat-card-content>

  </mat-card>
</div>
