<mat-card class="product-card mat-elevation-z4">
  <mat-card-header>
    <mat-card-title>{{article?.name ?? "Fehler: Name" | titlecase}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{article?.description ?? "Fehler: Beschreibung"}}
    </p>
    <p>
      Kategorien:
      {{article?.category}}
    </p>
    <mat-divider></mat-divider>
    {{isInCart()}}
  </mat-card-content>
  <mat-card-actions>
    <span>{{article?.price ?? -1 | currency:'EUR'}}</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="addToCart()" *ngIf="!isInCart()">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
    <button mat-icon-button *ngIf="isInCart()">
      <mat-icon>done</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
