mat-card {
  width: 250px;
  height: 490px;
  overflow: hidden;
  text-overflow: ellipsis; 
}


img {
  margin: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.bottom {
  bottom: 0;
  position: absolute;
}

