<div class="content">
<mat-card class="product-card">
  <mat-card-header>
    <mat-card-title>Product 1</mat-card-title>
    <mat-card-subtitle>Super expensive watch</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      This is our first product. It is super cool and I don't know what to write to fill this text. That's what Lorem
      Ipsum is supposed to do, right?
    </p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button><mat-icon>add</mat-icon></button>
  </mat-card-actions>
</mat-card>
</div>
