<mat-card class="product-card mat-elevation-z4">


  <mat-card-header>
    <mat-card-title class="left">{{article?.name ?? "Fehler: Name" | titlecase}}</mat-card-title>
      <button class="small-button" mat-icon-button (click)="editArticle()" *ngIf="this.article?.user?.id == supplierID" matTooltip="Artikel bearbeiten">
        <mat-icon>edit</mat-icon>
      </button>
  </mat-card-header>


  <img *ngIf="imgSrc.length <= 5" mat-card-image src="../../../assets/default.jpeg">
  <img *ngIf="imgSrc.length > 5" [src]="imgSrc">
  <mat-card-content>
    <p>
      {{article?.description ?? "Fehler: Beschreibung"}}
    </p>
    <p>
      Kategorie:
      {{article?.category}}
    </p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions class="bottom">
    <span>{{article?.price ?? -1 | currency:'EUR'}}</span>
<!--    <span class="spacer"></span>-->
    <button mat-icon-button (click)="addToCart()" *ngIf="!isInCart()" matTooltip="In Warenkorb legen">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
    <button mat-icon-button *ngIf="isInCart()" (click)="remove()" matTooltip="Aus Warenkorb entfernen">
      <mat-icon>done</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
