<h2 mat-dialog-title>Artikel {{title}}</h2>
<mat-dialog-content [formGroup]="articleForm">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput placeholder="Artikelname" required>
    <mat-error *ngIf="articleForm.controls['name'].hasError('required')">Bitte geben Sie einen Artikelnamen ein</mat-error>
    <mat-error *ngIf="articleForm.controls['name'].hasError">Artikelname ist auf 40 Zeichen begrenzt</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Beschreibung</mat-label>
    <textarea #desc [maxLength]="maxDescLength" formControlName="description" matInput placeholder="Beschreibung"
              required></textarea>
    <mat-error *ngIf="articleForm.controls['description'].hasError">Bitte geben Sie eine Beschreibung ein</mat-error>
    <mat-hint align="end">{{desc.value.length}}/{{maxDescLength}}</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Kategorie</mat-label>
    <input [matAutocomplete]="auto" formControlName="category" matInput placeholder="Kategorie" required>
    <mat-error *ngIf="articleForm.controls['category'].hasError('required')">Bitte wählen Sie eine Kategorie</mat-error>
    <mat-error *ngIf="articleForm.controls['category'].hasError">Kategorie ist auf 18 Zeichen begrenzt</mat-error>
    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
      <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
        {{category}}
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>Preis</mat-label>
    <input class="right-align" formControlName="price" matInput min="0.01" type="number">
    <span matTextSuffix>&nbsp;€</span>
  </mat-form-field>

  <img *ngIf="hasValidImage()" [src]="imageSource" alt="Product Image">
  <em *ngIf="!hasValidImage()" style="text-align: center">Kein Bild vorhanden</em>
  <mat-icon
    *ngIf="articleForm.controls['image'].errors"
    matTooltip="Ungültiges Bild"
    matTooltipPosition="above">error_outline
  </mat-icon>
  <hr/>
  <section>
    <button (click)="fileInput.click()" mat-mini-fab matTooltip="Bild hochladen">
      <mat-icon>upload</mat-icon>
    </button>
    <button (click)="deleteImage()" color="warn" mat-mini-fab matTooltip="Bild entfernen">
      <mat-icon>delete</mat-icon>
    </button>
  </section>
  <div *ngIf="imageUploaded">Datei hochgeladen</div>
  <div *ngIf="!fileTypeValid" class="upload-error">Bild muss im JPEG-Format sein</div>
  <div *ngIf="!fileSizeValid" class="upload-error">Bild darf max. {{maxFileSizeKB}}KB groß sein</div>
  <input #fileInput (change)="uploadFile($event)" accept=".jpeg" hidden type="file"/>


  <mat-dialog-actions align="end">
    <button (click)="close()" mat-raised-button>Abbrechen</button>
    <button (click)="delete()" mat-stroked-button color="warn"
            *ngIf="editMode">Löschen
    </button>
    <button (click)="onSubmit()" [disabled]="!articleForm.valid" color="primary" mat-raised-button>{{title | titlecase}}</button>
  </mat-dialog-actions>

</mat-dialog-content>
