<h2 mat-dialog-title>Artikel anlegen</h2>
<mat-dialog-content [formGroup]="articleForm">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="Artikelname" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Beschreibung</mat-label>
    <textarea formControlName="description" matInput placeholder="Beschreibung" [maxLength]="maxDescLength" required #desc></textarea>
    <mat-hint align="end">{{desc.value.length}}/{{maxDescLength}}</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Kategorie</mat-label>
    <input matInput formControlName="category" required placeholder="Kategorie" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
        {{category}}
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>Preis</mat-label>
    <input matInput type="number" class="right-align" formControlName="price" min="0.01">
    <span matTextSuffix>&nbsp;€</span>
  </mat-form-field>

  <img *ngIf="hasValidImage()" [src]="imageSource" alt="Product Image">
  <em *ngIf="!hasValidImage()">Kein Bild vorhanden</em>
  <mat-icon
    *ngIf="articleForm.controls.image.errors"
    matTooltip="Ungültiges Bild"
    matTooltipPosition="above">error_outline</mat-icon>
  <hr />
  <button mat-raised-button (click)="fileInput.click()">
    Datei auswählen
  </button>
  <div *ngIf="imageUploaded">Datei hochgeladen</div>
  <div class="upload-error" *ngIf="!fileTypeValid">Bild muss im JPEG-Format sein</div>
  <div class="upload-error" *ngIf="!fileSizeValid">Bild darf max. {{maxFileSizeKB}}KB groß sein</div>
  <input hidden (change)="uploadFile($event)" #fileInput type="file" accept=".jpeg"/>
  <button mat-mini-fab color="warn" (click)="deleteImage()" matTooltip="Bild entfernen">
    <mat-icon>delete</mat-icon>
  </button>

  <mat-dialog-actions align="end">
    <button (click)="close()" mat-raised-button>Abbrechen</button>
    <button (click)="onSubmit()" color="primary" mat-raised-button [disabled]="!articleForm.valid">Anlegen</button>
  </mat-dialog-actions>

</mat-dialog-content>
