mat-dialog-content {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

mat-form-field {
  margin: 16px;
}

button {
  margin: 5px;
}

.right-align {
  text-align: right;
}

input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
  display: none;
}

input.right-align {
  -moz-appearance: textfield;
}

.upload-error {
  color: red;
}

section {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}
